
.capital {
  text-transform: capitalize;
}

.sensor-measurement-box {
  margin: 1.2em;
  padding: 0.1em 1.2em 2.0em;
  background-color: #F2F4F5;
  border-radius: 25px;
}

.checkbox, .radio {
  margin-bottom: 0em!important;
  margin-top: 0em!important;
}

.sensorMakeBig {
  display: inline;
  margin-top: 0.4em;
}