@import play.filters.csrf.CSRF.Token
@(user: Option[security.User], csrfToken: Token, routerPath: Option[String] = None)

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="@routes.Assets.versioned("css/bootstrap.min.css")">
        <link rel="stylesheet" href="https://npmcdn.com/react-bootstrap-table/dist/react-bootstrap-table-all.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <input type="hidden" id="wateringBackendUrl" value="@routes.WateringController.getAllStates()">
        <input type="hidden" id="bcSensorReading" value="@routes.BigClownController.getSensorReading("","","").url.replace("//","")">
        <input type="hidden" id="settingsBackendUrl" value="@routes.SettingsController.updateBcSensorLocation()">
        <input type="hidden" id="username" value="@user.map(u=>u.email)">
        <input type="hidden" id="router_path" value="@routerPath">
        <input type="hidden" id="csrf_token_name" value="@csrfToken.name">
        <input type="hidden" id="csrf_token_value" value="@csrfToken.value">
        <div id="reactView"></div>
    </body>
    <script src="@routes.Assets.versioned("compiled/bundle.js")" ></script>
</html>
